pipeline/step3 pl_orchestration_recipe_2 insertMetadata.json
{
	"name": "step3 pl_orchestration_recipe_2 insertMetadata",
	"properties": {
		"activities": [
			{
				"name": "CSVdatafolder Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csvdatafolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Insert Metadata",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CSVdatafolder Metadata",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertFileMetadata]",
					"storedProcedureParameters": {
						"FileName": {
							"value": {
								"value": "@activity('CSVdatafolder Metadata').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ModifiedAt": {
							"value": {
								"value": "@convertFromUtc(activity('CSVdatafolder Metadata').output.lastModified,'Pacific Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"UpdatedAt": {
							"value": {
								"value": "@convertFromUtc(utcNow(),'Pacific standard time')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}